*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

h1, h2 {
    margin: 2rem 0;
    font-family: $principal-font;
    font-weight: 300;
    text-align: center;
    
}

h3 {
  font-family: $principal-font;
  font-weight: 300;
}